<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="
{% if weather_data %}
    {{ weather_data.main_weather|lower }}
{% endif %}
">

<div class="container">

    <h1>🌦 Weather App</h1>

    <form method="POST">
        <input type="text"
               name="city"
               placeholder="Enter city name"
               required>

        <button type="submit">
            Search
        </button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if weather_data %}
    <div class="weather-card">

        <h2>
            📍 {{ weather_data.city }},
            {{ weather_data.country }}
        </h2>

        <img src="https://openweathermap.org/img/wn/{{ weather_data.icon }}@2x.png">

        <p class="temperature">
🌡           {{ weather_data.temperature }}°C
        </p>

        <p>💧 Humidity:
            {{ weather_data.humidity }}%</p>

     <p>
{{ weather_data.emoji }}
Weather: {{ weather_data.weather }}
</p>

        <p>💨 Wind Speed:
            {{ weather_data.wind_speed }} m/s</p>

    </div>
    {% endif %}
</div>

</body>
</html>